#container{
    display:flex;
    flex-wrap:wrap;
    width:960px;
    
    box-sizing:border-box;
    

}
.square{
border: 1px solid black;
height:60px;
width:60px;
box-sizing: border-box;
}
#reset-btn{
    height: 40px;
    width:100px;
}